.col-md-3
  .panel.panel-default
    .panel-body
      %dl
        %dt
          = tukurepo.created_at.strftime('%Y/%m/%d')
          = image_tag tukurepo.authenticated_image_url(:medium) if tukurepo.image?
        %dd
          %p= tukurepo.message
          %p= link_to tukurepo.user.nickname, kitchen_path(tukurepo.user.id)
